<div>
  <h4>Add User</h4>
    <form>
        <div>
            <label for="firstname">Firstname</label>
            <input
              type="text"
              id="firstname"
              required
              [(ngModel)]="users.firstname"
              name="firstname"
            />
          </div>
    
          <div>
            <label for="lastname">lastname</label>
            <input
              type="text"
              id="lastname"
              required
              [(ngModel)]="users.lastname"
              name="lastname"
            />
          </div>
    
          <div>
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              required
              [(ngModel)]="users.email"
              name="email"
            />
          </div>
    
          <div>
            <label for="password">password</label>
            <input
              type="text"
              id="password"
              required
              [(ngModel)]="users.password"
              name="password"
            />
          </div>
    
          <button (click)="addUser()">Submit</button>
    </form>
</div>